:root  {
	--btn-primary: linear-gradient( 0deg, #0e7b50 0, #129d66 100%);
	--bg-footer-contentsupportemailarea: var(--bg-dark);
	--color-banner-text: #000;
	--color-beta-sup: #118e5c;
	--border-optionpricing-screentoggle: #8590a1;
	--color-profilestatus-complete: #1ea2f3;
	--color-lifestyle-saturated-light-1: #33ff9c;
	--bg-banner: #05a76c;
	--bg-ds-catalogcard-header-status-incomplete: #fff1c2;
	--color-lifestyle-saturated-light-3: #99ffd5;
	--bg-ds-leftpane: url('../../../Content/images/designselections/bg-designSelection.jpg');
	--bg-supportemail-attachfile-button: #34457a;
	--btn-secondary: linear-gradient( 0deg, #283661 0, #3f5291 100%);
	--bg-optionpricing-screentoggle: #1e2433;
	--bg-dmh-header: #272f42;
	--bg-ds-catalogcard-body-status-incomplete: #fff1c2;
	--color-ds-mobilemenu-item-icon: var(--color-icon-primary);
	--textarea-bg: linear-gradient(to bottom, #eeeeee 0, #ffffff 13%);
	--bg-hbdashboard-orientationstep-active-light: #93a9d1;
	--bg-dmh-visualizer-exclamation-banner: #ff9018;
	--color-profilestatus-bustout: #ea3d3d;
	--color-dmh-optionmenu-tab-selected-title: #35d695;
	--color-lifestyle-saturated-dark-2: #00994f;
	--bg-hbdashboard-progressbar: #4aa164;
	--color-ds-catalogcard-status-error-icon: #bb3838;
	--bg-planselector-selectedplan: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(107,234,183,0.15) 100%);
	--btn-grouped-hover: #233763;
	--bg-dmh-visualizableindicator-dark-side: #2e4365;
	--filter-main-site-header: none;
	--bg-footer-supportemailquestionmark: var(--color-icon-primary);
	--color-main-site-header-text: var(--text-light);
	--bg-dmh-product-list-product-selected: #245854;
	--text-copyright: #8b94a8;
	--bg-ds-catalogsearchbar: var(--bg-dark-noImage);
	--color-dmh-materialstab-text-selected: var(--color-dmh-optionMenu-tab-selected-title);
	--color-lifestyle-saturated-light-4: #ccffeb;
	--border-optionpricing-selectionsummary-card: #4e576f;
	--text-primary-lighter: #0aca80;
	--color-optionpricing-screentoggle: #e1e4ea;
	--color-dmh-optionmenu-radio-button: #bbb;
	--btn-primary-hover: linear-gradient( 0deg, #08492f 0, #0a7c4f 100%);
	--btn-secondary-hover: linear-gradient( 0deg, #1e2a4d 0, #324275 100%);
	--color-buyerwelcome-maybelater-button: var(--text-light);
	--color-dmh-text-primary: var(--color-primary);
	--bg-sessioncard: linear-gradient(to bottom, #f2f2f2 0%, #e8e8e8 100%);
	--color-cancelimpersonation: var(--color-primary);
	--bg-dmh-topbar: url(../../../Content/images/bg-designmyhome.jpg);
	--select-btm: #e2e2e2;
	--color-optionpricing-currentplaneditbutton-icon: var(--color-icon-primary);
	--text-sessioncard-primary-2: #349055;
	--color-profilestatus-contracted: #1fab01;
	--bg-dmh-visualizableindicator-light-side: #3b598a;
	--color-icon-training: var(--color-icon-primary);
	--color-optionpricing-rightpane-collapsebutton-icon: var(--color-icon-primary);
	--bg-dmh-navmenu-close-hover: var(--bg-dmh-product-list-product-selected);
	--bg-optionpricing-screentoggle-active: var(--bg-optionPricing-screenToggle);
	--table-header-color: #11915f;
	--color-footer-helpmenu-item: #23c487;
	--bg-optionpricing-paneltitle: rgba(0,0,0,.45);
	--bg-footer-update: rgb(16, 23, 35);
	--color-dmh-leftnav-title: #9ea8bb;
	--bg-dmh: url(../../../Content/images/bg-designmyhome.jpg);
	--bg-lifestyle-button: rgba(11, 56, 34, .6);
	--bg-optionpricing-pricelevelheader-hover: #4A546D;
	--btn-grouped-border: #354d70;
	--color-optionpricing-selectionsummary-card-icon: var(--color-icon-primary);
	--color-dmh-visualizer-somethingwentwrong-error-icon: #ff604b;
	--color-ds-text-primary: var(--color-primary);
	--color-dmh-visualizableindicator-icon: #fff;
	--color-main-site-header-text-muted: #b9b9b9;
	--color-notification: #e33a3a;
	--text-light: #fff;
	--bg-disclaimercheckbox: #4bac82;
	--color-lifestyle-saturated-light-2: #66ffbf;
	--bg-optionpricing-areaheader-hover: var(--color-primary);
	--color-icon-signout: var(--color-icon-primary);
	--color-ds-cabinetwizard-pricelevelselector-flag-icon: #000;
	--color-sessioncard-actionblock-title: var(--text-light);
	--color-primary: #118e5c;
	--color-dmh-icons-primary: var(--color-icon-primary);
	--bg-dmh-right: url(../../../Content/images/dmh-right-bg.png) no-repeat;
	--color-dmh-icon-included-product-on-lightbg: #e69012;
	--color-dmh-optionmenu-tab-selected-desc: #cad8f3;
	--color-busyindicator: var(--text-light);
	--bg-ds-catalogcard-body-status-error: #ffe5e5;
	--color-primary-alt1: #047c4d;
	--btn-nonestimateditem-compare: rgba(18, 133, 87, 0.1);
	--icon-titlebar-mobilemenu-dots: #508e5f;
	--color-footer-update: #e4fff4;
	--bg-nonestimateditemcard-compareicon-close: var(--color-primary);
	--bg-buyerwelcome-letsgetstarted-button-hover: rgba(31, 76, 53, 0.77);
	--bg-dmh-optionmenu-optiondetailselections: #f0f0f0;
	--bg-white: #fff;
	--bg-optionpricing-pricelevelheader: #0f1525;
	--bg-image-lifestyle-select: linear-gradient(45deg, transparent 50%, var(--color-lifestyle-primary) 50%), linear-gradient(135deg, var(--color-lifestyle-primary) 50%, transparent 50%), linear-gradient(to right, transparent, transparent);
	--bg-hbdashboard-header: rgba(0,0,0,0.3);
	--color-ds-catalogcard-status-complete-icon: #4caa1d;
	--bg-dmh-optionmenu-tab-hover: #CCC;
	--bg-ds-mobilemenu-hover: #113561;
	--color-ds-catalogcard-status-incomplete: #877031;
	--color-sessioncard-actionblock-border: none;
	--color-training-text: var(--color-icon-primary);
	--bg-dmh-navmenu-selected: var(--bg-dmh-product-list-product-selected);
	--bg-lifestyle: url('../../../../Content/images/orientation/bg1.jpg') no-repeat;
	--bg-footer: var(--bg-dark);
	--btn-secondary-active: #23315a;
	--color-dmh-optionmenu-tab-desc: #171717;
	--bg-ds-mobilemenu: #1b2743 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVQYV2NkIAIIiCv/ZySkDqTow8u7jHgVwhSBDMOpEFkRToXoirAqxKYIQyEuRSgK8SmCKySkCKyQGEUghQDARSVUweeZjwAAAABJRU5ErkJggg==);
	--color-actionbar: #047c4d;
	--btn-grouped-current: linear-gradient(to bottom, #1a9565 0, #14714d 100%);
	--boxshadowcolor-actionbar-selected: #b8d4c8;
	--bg-dmh-prefmenu-budgetexclamation: #fff886;
	--bg-dark-noimage: #1b2743;
	--color-dmh-optionmenu-tab-title: var(--color-dmh-text-primary);
	--color-userregistration-testusermessage-text: var(--color-primary);
	--color-selectionsreportoptions-highlightedcategory: #90ee90;
	--bg-dmh-optionmenu-optiondetailselections-fullyselectedcheck: var(--color-dmh-icons-primary);
	--bg-ds-catalog-item-field-section-divider: var(--bg-light-btm);
	--text-primary-alt1: #01B771;
	--bg-nonestimateditemcard-compareicon: rgba(56, 142, 92, 0.85);
	--border-left-menu-option-hover: #2f762f;
	--bg-dmh-leftpanel-nav: var(--bg-dark);
	--bg-optionpricing-leftpane: url('../../../Content/images/designselections/bg-designSelection.jpg');
	--color-icon-primary: var(--color-primary);
	--boxshadow-selectionsreportoptions-option: #90ee904d;
	--bg-optionpricing-selectedcell: #eeffe5;
	--color-dmh-leftnav-listitemtext: #e3e3e4;
	--bg-ds-catalogcard-header-status-error: #ffe5e5;
	--bg-footer-contentsupportemailarea-hover: rgba(8, 148, 255, 0.35);
	--color-dmh-light-boundary: #e0e0e0;
	--color-dmh-optionmenu-optiondetailselections-fullyselectedcheck: var(--color-dmh-icons-light-on-darkBg);
	--bg-light: #f7f7f7;
	--bg-dmh-left: url(../../../Content/images/dmh-left-bg.png) no-repeat;
	--color-ds-catalogcard-status-incomplete-icon: #dcb51b;
	--color-dmh-icons-light-on-darkbg: #f0f0f0;
	--color-ds-mobilemenu-item-text: #11AD6E;
	--bg-menu-inactive: #e8e8e8;
	--bg-lifestyle-progressbar: linear-gradient(to bottom, #00331a 0%,var(--color-lifestyle-saturated-dark-2) 84%,var(--color-lifestyle-saturated-light-1) 100%);
	--bg-userimpersonation-useritem: #eff7f4;
	--color-lifestyle-saturated-dark-1: #00cc69;
	--bg-hbdashboard-orientationstep-inactive: #047a4c;
	--btn-completeorientationstep: #419877;
	--bg-ds-catalog-item-document-pagination-inactive-page: var(--bg-light-btm);
	--bg-menu-active: #f0f0f0;
	--color-dmh-prefmenu-preftoggle-top-border: var(--color-dmh-dark-accent);
	--filter-dmh-roomproducticon: brightness(0) saturate(100%) invert(38%) sepia(66%) saturate(920%) hue-rotate(115deg) brightness(91%) contrast(87%); // this equals var(--color-dmh-roomProductIcon);
	--border-budgetitem: #51678c;
	--color-optionpricing-screentoggle-active: #3dce97;
	--color-dmh-disclaimer-dialog-community-series-plan-text: var(--color-dmh-optionMenu-tab-selected-desc);
	--color-lifestyle-saturated-dark-3: #006635;
	--color-lifestyle-primary: #2de88e;
	--color-profilestatus-other: #12b59d;
	--color-title-bar-text: var(--text-dark);
	--bg-hbdashboard-modulecomplete: #2ea656;
	--select-top: #efefef;
	--border-ds-mobilemenu-item: #324165;
	--color-ds-wizard-pricelevelselector-flag-icon: var(--color-icon-primary);
	--font-size-sessioncard-currentstatus: 15px;
	--bg-dmh-optionmenu-tab-selected: var(--color-dmh-dark-accent);
	--bg-optionpricing-productsamplestab-pricelevel-header: var(--bg-dark);
	--color-unwishlisted: var(--color-icon-primary);
	--bg-cancelimpersonation: #E2EAE7;
	--bg-title-bar: var(--bg-light);
	--text-disclaimerwelcomemsg: #6f88ba;
	--bg-optionpricing-rightpane: var(--bg-dark);
	--color-dmh-roomproducticon: var(--color-dmh-icons-primary);
	--bg-ds-mobilemenulauncher-button: #1b2743 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVQYV2NkIAIIiCv/ZySkDqTow8u7jHgVwhSBDMOpEFkRToXoirAqxKYIQyEuRSgK8SmCKySkCKyQGEUghQDARSVUweeZjwAAAABJRU5ErkJggg==);
	--btn-completeorientationstep-hover: #4baf91;
	--color-dmh-disclaimer-dialog-community-name: var(--color-dmh-text-primary);
	--color-main-site-header-vds-logo-color: #fff;
	--color-dmh-dark-accent-alt-lighter: #4c5f81;
	--text-primary: #0ABF7D;
	--bg-sessioncard-actionblock: var(--bg-dark);
	--text-darkest: #000;
	--bg-dark: #1b2743 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVQYV2NkIAIIiCv/ZySkDqTow8u7jHgVwhSBDMOpEFkRToXoirAqxKYIQyEuRSgK8SmCKySkCKyQGEUghQDARSVUweeZjwAAAABJRU5ErkJggg==);
	--text-dark: #1f1f1f;
	--bg-light-btm: #d8d8d8;
	--btn-grouped-bg: 1b2743;
	--color-optionpricing-currentplaneditbutton: var(--text-primary);
	--color-optionpricing-areacard-areaname-text: var(--text-light);
	--text-menu: #388e5c;
	--text-footer-systemmessage: black;
	--color-buyerwelcome-letsgetstarted-button: #2de88e;
	--bg-hbdashboard: linear-gradient(to bottom, #efefef 0%, #e8e8e8 100%);
	--bg-hbdashboard-orientationstep-inactive-light: #92cfb7;
	--border-nonestimateditemcard-compareicon-close: rgba(172, 255, 222, 0.5);
	--bg-light-top: #efefef;
	--color-dmh-optionmenu-optiondetailselections-countlabel: #969696;
	--bg-busyindicator: var(--bg-dark);
	--bg-ds-catalogdocumentselectedindicator: var(--btn-primary);
	--bg-emphasis: #05a76c;
	--bg-optionpricing-pricelevel-selected: var(--color-primary);
	--font-main: 'Lato';
	--color-colorgame-selector: rgba(86, 138, 113, .6);
	--icon-nonestimateditemcard-compareicon-close: #acffde;
	--btn-primary-active: #0c5739;
	--color-lifestyle-saturated: #00ff84;
	--color-planselector-selectedplan: #37aa7d;
	--bg-dmh-product-filter-dropdown-top: var(--color-dmh-dark-accent);
	--color-dmh-optionmenu-optiondetailtotal: #a5a2b0;
	--text-sessioncard-primary-1: var(--color-primary-alt1);
	--bg-optionpricing-rightpane-disabledtab: var(--bg-dark);
	--color-ds-catalogcard-status-complete: var(--color-ds-text-primary);
	--color-wishlist: #e33a3a;
	--color-optionpricing-monthlypayment: #828a9e;
	--color-icon-light: #3bb681;
	--bg-ds-catalogcard-header-status-complete: #eeffe5;
	--color-dmh-roomproduct-section-text: #797979;
	--color-lifestyle-saturated-dark-4: #00331a;
	--color-selectionsreportoptions-selectedoption: var(--color-primary);
	--bg-buyerwelcome-letsgetstarted-button: rgba(22, 58, 40, 0.6);
	--bg-sessioncard-confirm: #d2f1dd;
	--switch-bg: linear-gradient(to bottom, #387e26 0, #215c16 100%);
	--color-dmh-icon-included-product-on-darkbg: #ffc435;
	--color-dmh-dark-accent: #293346;
	--color-dmh-materialstab-text: var(--color-dmh-optionMenu-tab-selected-title);
	--color-optionpricing-leftpane-applicationproductlist-navicon: var(--color-icon-primary);
	--bg-ds-sessionsupportemail-attachfile: var(--color-dmh-dark-accent-alt-lighter);
	--bg-main-site-header: var(--bg-dark);
	--bg-optionpricing-areaheader: #0a7249;
	--color-dmh-leftnav-listitem-active: var(--color-primary);
	--color-optionpricing-rightpane-disabledtab-text: #8b94a8;
	--bg-ds-catalogcard-body-status-complete: #eeffe5;
	--bg-ds-copyareaselections-credit: rgb(255, 255, 210);
	--color-ds-catalogcard-status-error: #bb3838;
	--boxshadowcolor-nonestimateditemcard-compareicon: rgb(74, 159, 118);
	--bg-userregistration-testusermessage: #e1efe4;
	--color-dmh-prefmenu-budgetexclamation: #303d52;
	--bg-hbdashboard-orientationstep-active: #526993;
}

.historymaker {
	--btn-primary: linear-gradient( 0deg, #C10436 0, #dc1f26 100%);
	--bg-footer-contentsupportemailarea: #dc1f26;
	--border-optionpricing-screentoggle: #3f3f3f;
	--color-profilestatus-complete: #f8f8f8;
	--bg-ds-catalogcard-header-status-incomplete: #fff1c2;
	--bg-ds-leftpane: #3f3f3f;
	--bg-supportemail-attachfile-button: #666666;
	--btn-secondary: linear-gradient( 0deg, #2d2d2d, #5e5b54 100%);
	--bg-optionpricing-screentoggle: #cacbcc;
	--bg-dmh-header: #666666;
	--bg-ds-catalogcard-body-status-incomplete: #f8f8f8;
	--color-ds-mobilemenu-item-icon: #888b8d;
	--bg-hbdashboard-orientationstep-active-light: #dc1f26;
	--color-profilestatus-bustout: #f4f2ee;
	--color-dmh-optionmenu-tab-selected-title: #dc1f26;
	--bg-hbdashboard-progressbar: #dc1f26;
	--color-ds-catalogcard-status-error-icon: #bb3838;
	--btn-grouped-hover: #dc1f26;
	--bg-dmh-visualizableindicator-dark-side: #44423f;
	--filter-main-site-header: drop-shadow(2px 0px 6px var(--TM-taupe-dark));
	--bg-footer-supportemailquestionmark: #666666;
	--color-main-site-header-text: #494744;
	--bg-dmh-product-list-product-selected: rgba(0,0,0, .45);
	--text-copyright: #5e5b54;
	--bg-ds-catalogsearchbar: #666666;
	--color-dmh-materialstab-text-selected: #f8f8f8;
	--border-optionpricing-selectionsummary-card: #ffffff;
	--text-primary-lighter: #878787;
	--color-optionpricing-screentoggle: #5e5b54;
	--color-dmh-optionmenu-radio-button: #DC1F264d;
	--btn-primary-hover: linear-gradient( 0deg, #91061A 0, #A70920 100%);
	--btn-secondary-hover: linear-gradient( 0deg, #3A3937 0, #55524E 100%);
	--color-buyerwelcome-maybelater-button: #f8f8f8;
	--color-dmh-text-primary: #000000;
	--bg-sessioncard: linear-gradient( 0deg, #faf9f7 0, #ededec 100%);
	--color-cancelimpersonation: #F1F2F2;
	--color-optionpricing-currentplaneditbutton-icon: var(--color-icon-primary);
	--text-sessioncard-primary-2: #5e5b54;
	--color-profilestatus-contracted: #f8f8f8;
	--bg-dmh-visualizableindicator-light-side: #5e5b54;
	--color-icon-training: #c8c0ae;
	--bg-optionpricing-screentoggle-active: #9b9b9b;
	--table-header-color: #666666;
	--color-footer-helpmenu-item: #5e5b54;
	--bg-footer-update: #44423f;
	--color-dmh-leftnav-title: #c4c4c4;
	--bg-optionpricing-pricelevelheader-hover: #666666;
	--btn-grouped-border: #888b8d;
	--color-ds-text-primary: #666666;
	--color-main-site-header-text-muted: #494744;
	--color-notification: #dc1f26;
	--text-light: #f8f8f8;
	--bg-disclaimercheckbox: #888b8d;
	--bg-optionpricing-areaheader-hover: #666666;
	--color-icon-signout: #494744;
	--color-sessioncard-actionblock-title: #44423f;
	--color-primary: #dc1f26;
	--color-dmh-icon-included-product-on-lightbg: #DC1F26;
	--color-dmh-optionmenu-tab-selected-desc: #FFFFFF;
	--color-busyindicator: var(--text-light);
	--bg-ds-catalogcard-body-status-error: #f8f8f8;
	--color-primary-alt1: var(--color-primary);
	--btn-nonestimateditem-compare: #DC1F264d;
	--color-footer-update: #f8f8f8;
	--bg-nonestimateditemcard-compareicon-close: #5e5b54;
	--bg-buyerwelcome-letsgetstarted-button-hover: rgba(255, 255, 255, 0.25);
	--bg-white: #f8f8f8;
	--bg-optionpricing-pricelevelheader: #444444;
	--bg-hbdashboard-header: rgba(0,0,0,0.3);
	--color-ds-catalogcard-status-complete-icon: #4caa1d;
	--bg-ds-mobilemenu-hover: #44423f;
	--color-ds-catalogcard-status-incomplete: #877031;
	--color-sessioncard-actionblock-border: #888B8D;
	--color-training-text: #5e5b54;
	--bg-dmh-navmenu-selected: #DC1F264d;
	--bg-footer: #f4f2ee;
	--btn-secondary-active: #2A2A29;
	--color-dmh-optionmenu-tab-desc: #666666;
	--bg-ds-mobilemenu: #5e5b54;
	--color-actionbar: #000000;
	--btn-grouped-current: #dc1f26;
	--boxshadowcolor-actionbar-selected: #dc1f26;
	--bg-dark-noimage: #dc1f26;
	--color-dmh-optionmenu-tab-title: #5e5b54;
	--color-userregistration-testusermessage-text: #dc1f26;
	--color-selectionsreportoptions-highlightedcategory: #DC1F264d;
	--bg-ds-catalog-item-field-section-divider: #c8c0ae;
	--text-primary-alt1: var(--text-primary);
	--bg-nonestimateditemcard-compareicon: #dc1f26;
	--border-left-menu-option-hover: #dc1f26;
	--bg-dmh-leftpanel-nav: #3f3f3f;
	--bg-optionpricing-leftpane: #3f3f3f;
	--color-icon-primary: #dc1f26;
	--boxshadow-selectionsreportoptions-option: #c8c0ae;
	--bg-optionpricing-selectedcell: #c9c9c9;
	--color-dmh-leftnav-listitemtext: #f8f8f8;
	--bg-ds-catalogcard-header-status-error: #ffe5e5;
	--bg-footer-contentsupportemailarea-hover: var(--btn-primary-hover);
	--bg-light: #f4f2ee;
	--color-ds-catalogcard-status-incomplete-icon: #dcb51b;
	--color-ds-mobilemenu-item-text: #f8f8f8;
	--bg-menu-inactive: #f8f8f8;
	--bg-userimpersonation-useritem: #A2A2A3;
	--bg-hbdashboard-orientationstep-inactive: #666666;
	--btn-completeorientationstep: #419877;
	--bg-ds-catalog-item-document-pagination-inactive-page: #e4dfd7;
	--bg-menu-active: #f4f2ee;
	--filter-dmh-roomproducticon: invert(16%) sepia(92%) saturate(3426%) hue-rotate(333deg) brightness(86%) contrast(99%);
	--border-budgetitem: #c8c0ae;
	--color-optionpricing-screentoggle-active: #dc1f26;
	--color-profilestatus-other: #f4f2ee;
	--color-title-bar-text: #f8f8f8;
	--bg-hbdashboard-modulecomplete: #5e5b54;
	--border-ds-mobilemenu-item: #c8c0ae;
	--font-size-sessioncard-currentstatus: 15px;
	--bg-dmh-optionmenu-tab-selected: #a9a9aa;
	--bg-optionpricing-productsamplestab-pricelevel-header: #666666;
	--color-unwishlisted: #268FB6;
	--bg-cancelimpersonation: #c4c4c4;
	--bg-title-bar: #dc1f26;
	--text-disclaimerwelcomemsg: #5e5b54;
	--bg-optionpricing-rightpane: #666666;
	--bg-ds-mobilemenulauncher-button: #5e5b54;
	--btn-completeorientationstep-hover: #4baf91;
	--color-main-site-header-vds-logo-color: #000000;
	--color-dmh-dark-accent-alt-lighter: #DC1F264d;
	--text-primary: #dc1f26;
	--bg-sessioncard-actionblock: #A2A2A3;
	--bg-dark: #dc1f26;
	--text-dark: #000000;
	--bg-light-btm: #f4f2ee;
	--btn-grouped-bg: #888b8d;
	--color-optionpricing-currentplaneditbutton: #f8f8f8;
	--color-optionpricing-areacard-areaname-text: #f8f8f8;
	--text-menu: #5e5b54;
	--text-footer-systemmessage: #5e5b54;
	--color-buyerwelcome-letsgetstarted-button: #f8f8f8;
	--bg-hbdashboard: linear-gradient( 0deg, #faf9f7 0, #ededec 100%);
	--bg-hbdashboard-orientationstep-inactive-light: #dc1f26;
	--border-nonestimateditemcard-compareicon-close: #f8f8f8;
	--bg-light-top: #f8f8f8;
	--bg-busyindicator: #888b8d;
	--bg-ds-catalogdocumentselectedindicator: #dc1f26;
	--bg-emphasis: #dc1f26;
	--bg-optionpricing-pricelevel-selected: #dc1f26;
	--font-main: 'proxima-nova';
	--icon-nonestimateditemcard-compareicon-close: #f8f8f8;
	--btn-primary-active: #860417;
	--text-sessioncard-primary-1: #44423f;
	--bg-optionpricing-rightpane-disabledtab: #666666;
	--color-ds-catalogcard-status-complete: #118e5c;
	--color-wishlist: #dc1f26;
	--color-optionpricing-monthlypayment: #888B8D;
	--color-icon-light: #f8f8f8;
	--bg-ds-catalogcard-header-status-complete: #eeffe5;
	--color-selectionsreportoptions-selectedoption: #dc1f26;
	--bg-buyerwelcome-letsgetstarted-button: rgba(255, 255, 255, 0.15);
	--bg-sessioncard-confirm: #f4f2ee;
	--switch-bg: linear-gradient( 0deg, #dc1f26 0, #dc1f26 100%);
	--color-dmh-icon-included-product-on-darkbg: #f8f8f8;
	--color-dmh-dark-accent: #dc1f26;
	--color-dmh-materialstab-text: #f1f2f2;
	--color-optionpricing-leftpane-applicationproductlist-navicon: var(--color-icon-primary);
	--bg-ds-sessionsupportemail-attachfile: var(--color-dmh-dark-accent-alt-lighter);
	--bg-main-site-header: #fff;
	--bg-optionpricing-areaheader: #888b8d;
	--color-dmh-leftnav-listitem-active: #dc1f26;
	--color-optionpricing-rightpane-disabledtab-text: #bdc2c4;
	--bg-ds-catalogcard-body-status-complete: #f8f8f8;
	--bg-ds-copyareaselections-credit: #e4dfd7;
	--color-ds-catalogcard-status-error: #bb3838;
	--boxshadowcolor-nonestimateditemcard-compareicon: #c8c0ae;
	--bg-userregistration-testusermessage: #DC1F264d;
	--bg-hbdashboard-orientationstep-active: #DC1F26;
}

