<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>VEO Dashboard</title>
        <link rel="stylesheet" href="vds_dashboard.css">
        <link rel="viewmodel" href="vds_dashboard.ts">
    </head>
    <body>
        <div id="main-container">
            <div id="main-header">
                <h1>VEO Admin Dashboard</h1>
            </div>            
        </div>
        <div>
            <h2>Sites</h2>
            <div id="sites-container">
                <button id="site"></button>
            </div>
        </div>
    </body>
</html>