
ALTER procedure [dbo].[esp_selItemPrice]
@effective_date datetime,
@customer_id varchar(15),
--@region_id varchar(2),
@application_id varchar(10),
@product_id varchar(10),
@area_id varchar(10),
@sub_area_id varchar(10),
@spec_id int = 0,
@plan_id varchar(20) = '',
@build_id varchar(50) = '',
@generic_item_type varchar(20),
@generic_item_id varchar(50) = '',
@item varchar(81),
@uom varchar(9) = '',
@pattern_id varchar(50) = '0',
@item_price decimal(18,2) output,
@item_price_retail decimal(18,2) output,
@price_type varchar(10) output,
@pricing_layer varchar(200) output,

--added 11-12-12 ADG needed for new VeoSolutions cost plus margin system
@retail_percentage decimal(18,2) output,
@retail_percentage_type varchar(20) output,
--

@security_token varchar(36) = null,
@suppress_errors bit = 0,

-- jenam/sjc 12/8/2025 added
@bypass_flat_fee_exclusion BIT OUTPUT

as

DECLARE @entity_id VARCHAR(15)
SET @entity_id = '0'

declare @customer_name varchar(75)
	, @region_id varchar(10)

select
	@customer_name = customer_name
	, @region_id = region_id
from
	customers with (nolock)
where
	custnmbr = @customer_id

if (@customer_name is null)
begin
	raiserror('Customer with id "%s" does not exist.', 16, 1, @customer_id)
	return
end

if (ISNULL(@region_id, '') = '')
begin
	raiserror('No customer region for "%s".', 16, 1, @customer_name)
	return
end

exec osp_selItemPrice @effective_date,@customer_id,@region_id,@application_id,@product_id,@area_id,@sub_area_id,@spec_id,@plan_id,@build_id,
					  @generic_item_type,@generic_item_id,@item,@uom,@item_price output,@item_price_retail output,@price_type output,
					  @pricing_layer output,@retail_percentage output,@retail_percentage_type output,@pattern_id, @entity_id, @bypass_flat_fee_exclusion OUTPUT

-- added check for nulls causing breaks in concierge.  6/16/2011 ADG
if (@pricing_layer is null)
	set @pricing_layer = ''

if (@price_type is null)
	set @price_type = ''	
