
ALTER procedure [dbo].[vs_selItemPrice]  
  
@effective_date datetime,  
@customer_id varchar(15),   
--@region_id varchar(2),   
@application_id varchar(10),   
@product_id varchar(10),  
@area_id varchar(10),  
@sub_area_id varchar(10),  
@spec_id int = 0,  
@plan_id varchar(20) = '',  
@build_id varchar(50) = '',  
@generic_item_type varchar(20),  
@generic_item_id varchar(50) = '', 
@item varchar(81),   
@uom varchar(9) = '',  
@pattern_id varchar(50) = '0',                        
@security_token varchar(36) = null,
@suppress_errors bit = 0
  
as  

-- jenam/sjc 12/8/2025 added bypass_flat_fee_exclusion

declare @item_price decimal(18,2)   
declare @item_price_retail decimal(18,2)  
declare @price_type varchar(10) 
declare @pricing_layer varchar(200)
declare @retail_percentage decimal(18,2)                          
declare @retail_percentage_type varchar(20)                           
DECLARE @bypass_flat_fee_exclusion bit

exec esp_selItemPrice @effective_date,@customer_id,@application_id,@product_id,@area_id,@sub_area_id,@spec_id,@plan_id,@build_id,
					  @generic_item_type,@generic_item_id,@item,@uom,@pattern_id,@item_price output,@item_price_retail output,
					  @price_type output,@pricing_layer output,@retail_percentage output,@retail_percentage_type output,@security_token, @suppress_errors,
					  @bypass_flat_fee_exclusion OUTPUT	
					  
					  


select 
	@item_price as item_price,  
	@item_price_retail as item_price_retail,  
	@price_type as price_type,  
	@pricing_layer as pricing_layer,
	isnull(@retail_percentage,1) as retail_percentage,
	isnull(@retail_percentage_type,'') as retail_percentage_type,
	@bypass_flat_fee_exclusion AS bypass_flat_fee_exclusion
