
ALTER PROCEDURE [dbo].[osp_selItemPrice]
    @effective_date DATETIME,
    @customer_id VARCHAR(15),
    @region_id VARCHAR(2),
    @application_id VARCHAR(10),
    @product_id VARCHAR(10),
    @area_id VARCHAR(10),
    @sub_area_id VARCHAR(10),
    @spec_id INT = 0,
    @plan_id VARCHAR(20) = '',
    @build_id VARCHAR(50) = '',
    @generic_item_type VARCHAR(20),
    @generic_item_id VARCHAR(50) = '',
    @item VARCHAR(81),
    @uom VARCHAR(9) = '',
    @item_price DECIMAL(18, 2) OUTPUT,
    @item_price_retail DECIMAL(18, 2) OUTPUT,
    @price_type VARCHAR(10) OUTPUT,
    @pricing_layer VARCHAR(20) OUTPUT,
    @retail_percentage DECIMAL(18, 2) OUTPUT,
    @retail_percentage_type VARCHAR(20) OUTPUT,
    @pattern_id VARCHAR(50) = '0',
    @entity_id VARCHAR(15) = '0',
    @bypass_flat_fee_exclusion BIT OUTPUT
WITH RECOMPILE
AS

/*
        Procedure:	osp_selItemPrice
        Author:		Everyone
        Date:		03/17/2016
        Purpose:	Select a price using the 4 layer pricing model in this order:
                    Extended (Spec Area), Default (Spec), Global (Customer), Public (Region)

        History:	RIG Removed the block on the Extended pricing search for cabinets
                    RW Increase the length of style_id to 25
                    - 06.17.2025 - jenam - adding generic_item_id into Extended Material/Labor unit price calls
                      09.24.2025 - SJC Added bypass_flat_fee_exclusion OUTPUT parameter
*/

SET NOCOUNT ON;
DECLARE @debug INT;
SET @debug = 0;

DECLARE @local_effective_date DATETIME = @effective_date,
        @local_customer_id VARCHAR(15) = @customer_id,
        @local_region_id VARCHAR(2) = @region_id,
        @local_application_id VARCHAR(10) = @application_id,
        @local_product_id VARCHAR(10) = @product_id,
        @local_area_id VARCHAR(10) = @area_id,
        @local_sub_area_id VARCHAR(10) = @sub_area_id,
        @local_spec_id INT = @spec_id,
        @local_plan_id VARCHAR(20) = @plan_id,
        @local_build_id VARCHAR(50) = @build_id,
        @local_generic_item_type VARCHAR(20) = @generic_item_type,
        @local_generic_item_id VARCHAR(50) = @generic_item_id,
        @local_item VARCHAR(81) = @item,
        @local_uom VARCHAR(9) = @uom,
        @local_pattern_id VARCHAR(50) = @pattern_id,
        @local_entity_id VARCHAR(15) = @entity_id;


DECLARE @custclas VARCHAR(15);
DECLARE @style_id VARCHAR(25);
DECLARE @style_ivt_uom VARCHAR(9);
DECLARE @group_id INT;
DECLARE @priceset_effective_date DATETIME;
DECLARE @error VARCHAR(255);
DECLARE @price_date DATETIME;

SET @item_price_retail = NULL;
--declare @retail_percentage decimal(18,2)
SET @retail_percentage = NULL;
--declare @retail_percentage_type varchar(20)
SET @retail_percentage_type = '';

SET @custclas = '';
SET @style_id = '';
SET @style_ivt_uom = '';
SET @group_id = 0;
SET @priceset_effective_date = '1/1/1900';
SET @error = '';
SET @price_date = '1/1/1900';
SET @bypass_flat_fee_exclusion = 0;


--=========================================
-- Get Entity Type - ie. Service or install
--=========================================
DECLARE @entity_type VARCHAR(20);
SET @entity_type = '';
IF @local_entity_id <> 0
BEGIN
    SELECT @entity_type = order_type
    FROM sales_orders WITH (NOLOCK)
    WHERE order_id = @local_entity_id;
END;

--====================
-- Get customer class
--====================
SELECT @custclas = class
FROM customers WITH (NOLOCK)
WHERE custnmbr = @local_customer_id;

--==============================
-- Get material/labor variables
--==============================
IF @local_generic_item_type = 'material'
BEGIN
    SELECT @local_product_id = c.product_id,
           @style_id = s.style_id,
           @style_ivt_uom = ISNULL(s.ivt_uom, '')
    FROM colors c WITH (NOLOCK)
        JOIN styles s WITH (NOLOCK)
            ON s.style_id = c.style_id
               AND s.product_id = c.product_id
    WHERE c.part_no = @local_item;

    -- Use the style's base_uom when uom is not specified

    IF LEN(@local_uom) = 0
        SET @local_uom = @style_ivt_uom;

    -- Get the group_id if this item is in a group
    EXEC @group_id = dbo.of_selItemStyleGroup @local_customer_id,
                                              @local_effective_date,
                                              @local_application_id,
                                              @local_product_id,
                                              @local_item,
                                              @local_spec_id;
END;

IF @local_generic_item_type = 'labor'
BEGIN
    DECLARE @lc_application_id VARCHAR(10);
    DECLARE @lc_product_id VARCHAR(10);

    IF LEN(@local_uom) = 0
        SELECT @local_uom = ISNULL(uom, @local_uom)
        FROM labor_codes WITH (NOLOCK)
        WHERE code = @local_item;

    /*  added 1/23/2008 - CRP */
    SELECT @lc_application_id = application_id,
           @lc_product_id = product_id
    FROM labor_codes WITH (NOLOCK)
    WHERE code = @local_item;

    /* Modified if statement on 1/23/2008 due to pricing not working for web requisition for NLBRTS which is used for tool and supply labor code - CRP - was if len(@local_product_id) = 0 and if len(@local_application_id) = 0 */

    IF LEN(@lc_application_id) > 0
    BEGIN
        SET @local_application_id = @lc_application_id;
    END;
    IF LEN(@lc_product_id) > 0
    BEGIN
        SET @local_product_id = @lc_product_id;
    END;

END;

--=========================================================
-- Get the latest priceset for the spec_id
-- This date is only used for default and extended pricing
--=========================================================
IF @local_spec_id <> 0
BEGIN
    SELECT TOP 1
           @priceset_effective_date = effective_date
    FROM pricesets WITH (NOLOCK)
    WHERE spec_id = @local_spec_id
          AND active = 1
          AND effective_date <= @local_effective_date
    ORDER BY effective_date DESC;
END;


IF @local_spec_id <> 0
   AND @local_area_id <> ''
   AND @local_sub_area_id <> ''
BEGIN
    ---------------------------------------------------------------------------------------------------------
    -- Extended pricing
    ---------------------------------------------------------------------------------------------------------
    SET @pricing_layer = 'extended';


    IF @local_generic_item_type = 'material'
    BEGIN

        --===================================================
        -- 1st pass - Attempt to find a price for this color
        --===================================================
        EXEC osp_selUnitPriceExtendedMaterial @local_spec_id,
                                              @priceset_effective_date,
                                              @local_application_id,
                                              @local_product_id,
                                              @local_area_id,
                                              @local_sub_area_id,
                                              @local_plan_id,
                                              @local_build_id,
                                              'color',
                                              @local_generic_item_id,
                                              @local_item,
                                              @local_uom,
                                              2,
                                              @local_customer_id,
                                              @item_price OUTPUT,
                                              @price_type OUTPUT,
                                              @item_price_retail OUTPUT,
                                              @retail_percentage OUTPUT,
                                              @retail_percentage_type OUTPUT,
                                              @error OUTPUT,
                                              @bypass_flat_fee_exclusion OUTPUT;

        IF @error <> ''
        BEGIN
            RAISERROR(@error, 16, 1);
            RETURN;
        END;

        --if @local_pattern_id = '0' or (@local_pattern_id <> '0' and @price_type <> 'area')
        --   begin
        --  if @entity_type <> 'service_order' or (@entity_type = 'service_order' and @price_type <> 'area')
        --   begin
        --    if not @item_price is null
        --     begin
        --      return
        --     end
        --   end
        --  else
        IF @local_pattern_id = '0'
           OR
           (
               @local_pattern_id <> '0'
               AND @local_generic_item_id = 'Field'
           )
           OR
           (
               @local_pattern_id <> 0
               AND @local_generic_item_id <> 'Field'
               AND @price_type <> 'area'
           )
        BEGIN
            IF @entity_type <> 'service_order'
               OR
               (
                   @entity_type = 'service_order'
                   AND @price_type <> 'area'
               )
            BEGIN
                IF NOT @item_price IS NULL
                BEGIN
                    RETURN;
                END;
            END;
            ELSE
            BEGIN
                SET @item_price = NULL;
                SET @price_type = '';
                SET @item_price_retail = NULL;
                SET @retail_percentage = NULL;
                SET @retail_percentage_type = '';
            END;
        END;
        ELSE
        BEGIN
            SET @item_price = NULL;
            SET @price_type = '';
            SET @item_price_retail = NULL;
            SET @retail_percentage = NULL;
            SET @retail_percentage_type = '';
        END;

        --===========================================================
        -- 2nd pass - Attempt to find a price for this color's style
        --===========================================================
        EXEC osp_selUnitPriceExtendedMaterial @local_spec_id,
                                              @priceset_effective_date,
                                              @local_application_id,
                                              @local_product_id,
                                              @local_area_id,
                                              @local_sub_area_id,
                                              @local_plan_id,
                                              @local_build_id,
                                              'style',
                                              @local_generic_item_id,
                                              @style_id,
                                              @local_uom,
                                              2,
                                              @local_customer_id,
                                              @item_price OUTPUT,
                                              @price_type OUTPUT,
                                              @item_price_retail OUTPUT,
                                              @retail_percentage OUTPUT,
                                              @retail_percentage_type OUTPUT,
                                              @error OUTPUT,
                                              @bypass_flat_fee_exclusion OUTPUT;

        IF @error <> ''
        BEGIN
            RAISERROR(@error, 16, 1);
            RETURN;
        END;

        --if @local_pattern_id = '0' or (@local_pattern_id <> '0' and @price_type <> 'area')
        IF @local_pattern_id = '0'
           OR
           (
               @local_pattern_id <> '0'
               AND @local_generic_item_id = 'Field'
           )
           OR
           (
               @local_pattern_id <> 0
               AND @local_generic_item_id <> 'Field'
               AND @price_type <> 'area'
           )
        BEGIN
            IF @entity_type <> 'service_order'
               OR
               (
                   @entity_type = 'service_order'
                   AND @price_type <> 'area'
               )
            BEGIN
                IF NOT @item_price IS NULL
                BEGIN
                    RETURN;
                END;
            END;
            ELSE
            BEGIN
                SET @item_price = NULL;
                SET @price_type = '';
                SET @item_price_retail = NULL;
                SET @retail_percentage = NULL;
                SET @retail_percentage_type = '';
            END;
        END;
        ELSE
        BEGIN
            SET @item_price = NULL;
            SET @price_type = '';
            SET @item_price_retail = NULL;
            SET @retail_percentage = NULL;
            SET @retail_percentage_type = '';
        END;

        --===========================================================
        -- 3rd pass - Attempt to find a price for this color's group
        --===========================================================
        EXEC osp_selUnitPriceExtendedMaterial @local_spec_id,
                                              @priceset_effective_date,
                                              @local_application_id,
                                              @local_product_id,
                                              @local_area_id,
                                              @local_sub_area_id,
                                              @local_plan_id,
                                              @local_build_id,
                                              'group',
                                              @local_generic_item_id,
                                              @group_id,
                                              @local_uom,
                                              2,
                                              @local_customer_id,
                                              @item_price OUTPUT,
                                              @price_type OUTPUT,
                                              @item_price_retail OUTPUT,
                                              @retail_percentage OUTPUT,
                                              @retail_percentage_type OUTPUT,
                                              @error OUTPUT,
                                              @bypass_flat_fee_exclusion OUTPUT;


        --print 'group'
        --print @group_id

        IF @error <> ''
        BEGIN
            RAISERROR(@error, 16, 1);
            RETURN;
        END;

        --if @local_pattern_id = '0' or (@local_pattern_id <> '0' and @price_type <> 'area')
        IF @local_pattern_id = '0'
           OR
           (
               @local_pattern_id <> '0'
               AND @local_generic_item_id = 'Field'
           )
           OR
           (
               @local_pattern_id <> 0
               AND @local_generic_item_id <> 'Field'
               AND @price_type <> 'area'
           )
        BEGIN
            IF @entity_type <> 'service_order'
               OR
               (
                   @entity_type = 'service_order'
                   AND @price_type <> 'area'
               )
            BEGIN
                IF NOT @item_price IS NULL
                BEGIN
                    RETURN;
                END;
            END;
            ELSE
            BEGIN
                SET @item_price = NULL;
                SET @price_type = '';
                SET @item_price_retail = NULL;
                SET @retail_percentage = NULL;
                SET @retail_percentage_type = '';
            END;
        END;
        ELSE
        BEGIN
            SET @item_price = NULL;
            SET @price_type = '';
            SET @item_price_retail = NULL;
            SET @retail_percentage = NULL;
            SET @retail_percentage_type = '';
        END;





        --===========================================================
        -- 4th pass - Attempt to find a price for option
        --===========================================================
        --print '4th pass' + @local_generic_item_id

        EXEC osp_selUnitPriceExtendedMaterial @local_spec_id,
                                              @priceset_effective_date,
                                              @local_application_id,
                                              @local_product_id,
                                              @local_area_id,
                                              @local_sub_area_id,
                                              @local_plan_id,
                                              @local_build_id,
                                              'option',
                                              @local_generic_item_id,
                                              @local_item,
                                              @local_uom,
                                              2,
                                              @local_customer_id,
                                              @item_price OUTPUT,
                                              @price_type OUTPUT,
                                              @item_price_retail OUTPUT,
                                              @retail_percentage OUTPUT,
                                              @retail_percentage_type OUTPUT,
                                              @error OUTPUT,
                                              @bypass_flat_fee_exclusion OUTPUT;


        IF @error <> ''
        BEGIN
            RAISERROR(@error, 16, 1);
            RETURN;
        END;

        --if @local_pattern_id = '0' or (@local_pattern_id <> '0' and @price_type <> 'area')
        IF @local_pattern_id = '0'
           OR
           (
               @local_pattern_id <> '0'
               AND @local_generic_item_id = 'Field'
           )
           OR
           (
               @local_pattern_id <> 0
               AND @local_generic_item_id <> 'Field'
               AND @price_type <> 'area'
           )
        BEGIN
            IF @entity_type <> 'service_order'
               OR
               (
                   @entity_type = 'service_order'
                   AND @price_type <> 'area'
               )
            BEGIN
                IF NOT @item_price IS NULL
                BEGIN
                    --print 'found 4th pass'
                    RETURN;
                END;
            END;
            ELSE
            BEGIN
                SET @item_price = NULL;
                SET @price_type = '';
                SET @item_price_retail = NULL;
                SET @retail_percentage = NULL;
                SET @retail_percentage_type = '';
            END;
        END;
        ELSE
        BEGIN
            SET @item_price = NULL;
            SET @price_type = '';
            SET @item_price_retail = NULL;
            SET @retail_percentage = NULL;
            SET @retail_percentage_type = '';
        END;







    END;

    IF @local_generic_item_type = 'labor'
    BEGIN
        EXEC osp_selUnitPriceExtendedLabor @local_spec_id,
                                           @priceset_effective_date,
                                           @local_application_id,
                                           @local_product_id,
                                           @local_area_id,
                                           @local_sub_area_id,
                                           @local_plan_id,
                                           @local_build_id,
                                           @local_generic_item_id,
                                           @local_item,
                                           @item_price OUTPUT,
                                           @price_type OUTPUT,
                                           @item_price_retail OUTPUT,
                                           @retail_percentage OUTPUT,
                                           @retail_percentage_type OUTPUT,
                                           @error OUTPUT,
                                           @bypass_flat_fee_exclusion OUTPUT;

        IF @error <> ''
        BEGIN
            RAISERROR(@error, 16, 1);
            RETURN;
        END;

        IF NOT @item_price IS NULL
        BEGIN
            RETURN;
        END;
    END;
END;

IF @local_spec_id <> 0
BEGIN
    ---------------------------------------------------------------------------------------------------------
    -- Default pricing
    ---------------------------------------------------------------------------------------------------------
    SET @pricing_layer = 'default';

    IF @local_generic_item_type = 'material'
    BEGIN
        --===================================================
        -- 1st pass - Attempt to find a price for this color
        --===================================================
        EXEC osp_selUnitPriceDefaultMaterial @local_spec_id,
                                             @priceset_effective_date,
                                             @local_application_id,
                                             @local_product_id,
                                             'color',
                                             @local_item,
                                             @local_uom,
                                             '',
                                             2,
                                             @item_price OUTPUT,
                                             @item_price_retail OUTPUT,
                                             @retail_percentage OUTPUT,
                                             @retail_percentage_type OUTPUT,
                                             @error OUTPUT,
                                             @price_type OUTPUT;

        IF @error <> ''
        BEGIN
            RAISERROR(@error, 16, 1);
            RETURN;
        END;

        IF NOT @item_price IS NULL
        BEGIN
            RETURN;
        END;

        --===========================================================
        -- 2nd pass - Attempt to find a price for this color's style
        --===========================================================

        EXEC osp_selUnitPriceDefaultMaterial @local_spec_id,
                                             @priceset_effective_date,
                                             @local_application_id,
                                             @local_product_id,
                                             'style',
                                             @style_id,
                                             @local_uom,
                                             '',
                                             2,
                                             @item_price OUTPUT,
                                             @item_price_retail OUTPUT,
                                             @retail_percentage OUTPUT,
                                             @retail_percentage_type OUTPUT,
                                             @error OUTPUT,
                                             @price_type OUTPUT;


        IF @error <> ''
        BEGIN
            RAISERROR(@error, 16, 1);
            RETURN;
        END;

        IF NOT @item_price IS NULL
        BEGIN
            RETURN;
        END;

        --===========================================================
        -- 3rd pass - Attempt to find a price for this color's group
        --===========================================================
        EXEC osp_selUnitPriceDefaultMaterial @local_spec_id,
                                             @priceset_effective_date,
                                             @local_application_id,
                                             @local_product_id,
                                             'group',
                                             @group_id,
                                             @local_uom,
                                             '',
                                             2,
                                             @item_price OUTPUT,
                                             @item_price_retail OUTPUT,
                                             @retail_percentage OUTPUT,
                                             @retail_percentage_type OUTPUT,
                                             @error OUTPUT,
                                             @price_type OUTPUT;


        IF @error <> ''
        BEGIN
            RAISERROR(@error, 16, 1);
            RETURN;
        END;

        IF NOT @item_price IS NULL
        BEGIN
            RETURN;
        END;
    END;


    --===========================================================
    -- 4th pass - Attempt to find a price for option
    --===========================================================

    EXEC osp_selUnitPriceDefaultMaterial @local_spec_id,
                                         @priceset_effective_date,
                                         @local_application_id,
                                         @local_product_id,
                                         'option',
                                         @local_item,
                                         @local_uom,
                                         '',
                                         2,
                                         @item_price OUTPUT,
                                         @item_price_retail OUTPUT,
                                         @retail_percentage OUTPUT,
                                         @retail_percentage_type OUTPUT,
                                         @error OUTPUT,
                                         @price_type OUTPUT;

    IF @error <> ''
    BEGIN
        RAISERROR(@error, 16, 1);
        RETURN;
    END;

    IF NOT @item_price IS NULL
    BEGIN
        RETURN;
    END;



    IF @local_generic_item_type = 'labor'
    BEGIN
        EXEC osp_selUnitPriceDefaultLabor @local_spec_id,
                                          @priceset_effective_date,
                                          @local_application_id,
                                          @local_product_id,
                                          @local_item,
                                          @local_uom,
                                          '',
                                          2,
                                          @item_price OUTPUT,
                                          @item_price_retail OUTPUT,
                                          @retail_percentage OUTPUT,
                                          @retail_percentage_type OUTPUT,
                                          @error OUTPUT;

        IF @error <> ''
        BEGIN
            RAISERROR(@error, 16, 1);
            RETURN;
        END;

        IF NOT @item_price IS NULL
        BEGIN
            RETURN;
        END;
    END;
END;

---------------------------------------------------------------------------------------------------------
-- Global pricing
---------------------------------------------------------------------------------------------------------
SET @pricing_layer = 'global';

IF @local_generic_item_type = 'material'
BEGIN
    --===================================================
    -- 1st pass - Attempt to find a price for this color
    --===================================================
    EXEC osp_selUnitPriceGlobalMaterial @local_effective_date,
                                        @local_customer_id,
                                        @local_application_id,
                                        @local_product_id,
                                        'color',
                                        @local_item,
                                        @local_uom,
                                        '',
                                        2,
                                        @item_price OUTPUT,
                                        @item_price_retail OUTPUT,
                                        @retail_percentage OUTPUT,
                                        @retail_percentage_type OUTPUT,
                                        @error OUTPUT,
                                        @price_date OUTPUT,
                                        '',
                                        @price_type OUTPUT;

    IF @error <> ''
    BEGIN
        RAISERROR(@error, 16, 1);
        RETURN;
    END;

    SELECT 1 AS priority,
           @item_price AS price,
           @item_price_retail AS retail_price,
           @price_date AS price_date,
           @retail_percentage AS retail_percentage,
           @retail_percentage_type AS retail_percentage_type
    INTO #global_price_matches;

    --===========================================================
    -- 2nd pass - Attempt to find a price for this color's style
    --===========================================================
    EXEC osp_selUnitPriceGlobalMaterial @local_effective_date,
                                        @local_customer_id,
                                        @local_application_id,
                                        @local_product_id,
                                        'style',
                                        @style_id,
                                        @local_uom,
                                        '',
                                        2,
                                        @item_price OUTPUT,
                                        @item_price_retail OUTPUT,
                                        @retail_percentage OUTPUT,
                                        @retail_percentage_type OUTPUT,
                                        @error OUTPUT,
                                        @price_date OUTPUT;

    IF @error <> ''
    BEGIN
        RAISERROR(@error, 16, 1);
        RETURN;
    END;

    INSERT INTO #global_price_matches
    SELECT 2 AS priority,
           @item_price AS price,
           @item_price_retail AS retail_price,
           @price_date AS price_date,
           @retail_percentage AS retail_percentage,
           @retail_percentage_type AS retail_percentage_type;


    --===========================================================
    -- 3rd pass - Attempt to find a price for this color's group
    --===========================================================
    EXEC osp_selUnitPriceGlobalMaterial @local_effective_date,
                                        @local_customer_id,
                                        @local_application_id,
                                        @local_product_id,
                                        'group',
                                        @group_id,
                                        @local_uom,
                                        '',
                                        2,
                                        @item_price OUTPUT,
                                        @item_price_retail OUTPUT,
                                        @retail_percentage OUTPUT,
                                        @retail_percentage_type OUTPUT,
                                        @error OUTPUT,
                                        @price_date OUTPUT,
                                        '',
                                        @price_type OUTPUT;

    IF @error <> ''
    BEGIN
        RAISERROR(@error, 16, 1);
        RETURN;
    END;

    INSERT INTO #global_price_matches
    SELECT 3 AS priority,
           @item_price AS price,
           @item_price_retail AS retail_price,
           @price_date AS price_date,
           @retail_percentage AS retail_percentage,
           @retail_percentage_type AS retail_percentage_type;

    --===========================================================
    -- 4th pass - Attempt to find a price for option
    --===========================================================
    EXEC osp_selUnitPriceGlobalMaterial @local_effective_date,
                                        @local_customer_id,
                                        @local_application_id,
                                        @local_product_id,
                                        'option',
                                        @local_item,
                                        @local_uom,
                                        '',
                                        2,
                                        @item_price OUTPUT,
                                        @item_price_retail OUTPUT,
                                        @retail_percentage OUTPUT,
                                        @retail_percentage_type OUTPUT,
                                        @error OUTPUT,
                                        @price_date OUTPUT,
                                        @local_item,
                                        @price_type OUTPUT;

    IF @error <> ''
    BEGIN
        RAISERROR(@error, 16, 1);
        RETURN;
    END;

    INSERT INTO #global_price_matches
    SELECT 3 AS priority,
           @item_price AS price,
           @item_price_retail AS retail_price,
           @price_date AS price_date,
           @retail_percentage AS retail_percentage,
           @retail_percentage_type AS retail_percentage_type;
    SET @item_price = NULL;


    IF @debug = 1
    BEGIN
        SELECT *
        FROM #global_price_matches;
    END;

    SELECT TOP 1
           @item_price = price,
           @item_price_retail = retail_price,
           @retail_percentage = retail_percentage,
           @retail_percentage_type = retail_percentage_type
    FROM #global_price_matches
    WHERE price IS NOT NULL
    ORDER BY price_date DESC,
             priority ASC;
    DROP TABLE #global_price_matches;

    IF NOT @item_price IS NULL
    BEGIN
        RETURN;
    END;
END;

IF @local_generic_item_type = 'labor'
BEGIN
    EXEC osp_selUnitPriceGlobalLabor @local_effective_date,
                                     @local_customer_id,
                                     @local_application_id,
                                     @local_product_id,
                                     @local_item,
                                     @local_uom,
                                     '',
                                     2,
                                     @item_price OUTPUT,
                                     @item_price_retail OUTPUT,
                                     @retail_percentage OUTPUT,
                                     @retail_percentage_type OUTPUT,
                                     @error OUTPUT;

    IF @error <> ''
    BEGIN
        RAISERROR(@error, 16, 1);
        RETURN;
    END;

    IF NOT @item_price IS NULL
    BEGIN
        RETURN;
    END;
END;


---------------------------------------------------------------------------------------------------------
-- Public pricing
---------------------------------------------------------------------------------------------------------
SET @pricing_layer = 'public';

IF @local_generic_item_type = 'material'
BEGIN
    --===================================================
    -- 1st pass - Attempt to find a price for this color
    --===================================================
    EXEC osp_selUnitPricePublicMaterial @local_effective_date,
                                        @local_region_id,
                                        @custclas,
                                        @local_application_id,
                                        @local_product_id,
                                        'color',
                                        @local_item,
                                        @local_uom,
                                        '',
                                        2,
                                        @item_price OUTPUT,
                                        @error OUTPUT,
                                        @price_date OUTPUT,
                                        @price_type OUTPUT;

    IF @error <> ''
    BEGIN
        RAISERROR(@error, 16, 1);
        RETURN;
    END;

    SELECT 1 AS priority,
           @item_price AS price,
           @price_date AS price_date
    INTO #public_price_matches;

    --===========================================================
    -- 2nd pass - Attempt to find a price for this color's style
    --===========================================================
    EXEC osp_selUnitPricePublicMaterial @local_effective_date,
                                        @local_region_id,
                                        @custclas,
                                        @local_application_id,
                                        @local_product_id,
                                        'style',
                                        @style_id,
                                        @local_uom,
                                        '',
                                        2,
                                        @item_price OUTPUT,
                                        @error OUTPUT,
                                        @price_date OUTPUT,
                                        @price_type OUTPUT;

    IF @error <> ''
    BEGIN
        RAISERROR(@error, 16, 1);
        RETURN;
    END;

    INSERT INTO #public_price_matches
    SELECT 2 AS priority,
           @item_price AS price,
           @price_date AS price_date;


    --===========================================================
    -- 3rd pass - Attempt to find a price for this option
    --===========================================================
    EXEC osp_selUnitPricePublicMaterial @local_effective_date,
                                        @local_region_id,
                                        @custclas,
                                        @local_application_id,
                                        @local_product_id,
                                        'option',
                                        @local_item,
                                        @local_uom,
                                        '',
                                        2,
                                        @item_price OUTPUT,
                                        @error OUTPUT,
                                        @price_date OUTPUT,
                                        @price_type OUTPUT;

    IF @error <> ''
    BEGIN
        RAISERROR(@error, 16, 1);
        RETURN;
    END;

    INSERT INTO #public_price_matches
    SELECT 2 AS priority,
           @item_price AS price,
           @price_date AS price_date;
    SET @item_price = NULL;
    SET @item_price_retail = NULL;

    SELECT TOP 1
           @item_price = price,
           @item_price_retail = price --per nick retail price equals builder price in public layer - CP
    FROM #public_price_matches
    WHERE price IS NOT NULL
    ORDER BY price_date DESC,
             priority ASC;

    DROP TABLE #public_price_matches;

    IF NOT @item_price IS NULL
    BEGIN
        RETURN;
    END;
END;


IF @local_generic_item_type = 'labor'
BEGIN
    SET @item_price_retail = NULL;

    EXEC osp_selUnitPricePublicLabor @local_effective_date,
                                     @local_region_id,
                                     @custclas,
                                     @local_application_id,
                                     @local_product_id,
                                     @local_item,
                                     @local_uom,
                                     '',
                                     2,
                                     @item_price OUTPUT,
                                     @error OUTPUT;

    IF @error <> ''
    BEGIN
        RAISERROR(@error, 16, 1);
        RETURN;
    END;

    IF NOT @item_price IS NULL
    BEGIN
        SET @item_price_retail = @item_price; --per nick retail price equals builder price in public layer - CP
        RETURN;
    END;
END;

SET @pricing_layer = '';
